body {
    background-color: #3C3C3B;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px; /* Adjust this value as needed */
}

.flex-item-1 {
    flex: 0 0 calc(50% - 10px);
    margin-top: 100px; /* Adjust this value as needed */
    margin-bottom: 10px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 50px;
}

.flex-item-1 input[type="email"] {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.flex-item-1 button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: #3EB1C8;
}

.flex-item-1 img {
    flex: 0 0 calc(50% - 10px);	
    width: 80%; /* Adjust this value as needed */
    height: 60%; /* Adjust this value as needed */
    object-fit: cover;
}

.flex-item-2{
    flex: 0 0 calc(50% - 10px);
    margin-top: 100px; /* Adjust this value as needed */
    margin-bottom: 10px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 50px;
}

.flex-item-2 input[type="text"] {
    box-sizing: border-box; /* Voeg deze regel toe */
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 100px;
}

.flex-item-2 button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: #3EB1C8;
}

.flex-item-3{
    flex: 0 0 calc(50% - 10px);
    margin-top: 100px; /* Adjust this value as needed */
    margin-bottom: 10px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 50px;
}

.flex-item-3 a {
    text-decoration: none;
}

.flex-item-3 a img {
    width: 200px; /* Pas deze waarde aan om de grootte van de logo's te wijzigen */
    display: inline-block;
    margin-right: 10px; /* Voeg wat ruimte toe tussen de logo's */
}