body {
    background-color: #3C3C3B;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px; /* Adjust this value as needed */
}

.agenda {
    background-color: #3EB1C8; /* Verander dit naar de gewenste kleur */
    padding: 20px; /* Verander dit naar de gewenste padding */
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.info .image {
    flex: 1;
}

.image img {
    width: 200px;
    height: 200px;
}