.navigatie {
    background-color: #3EB1C8;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 0px;
}

.navigatie .logo {
    max-height: 100px;
    width: auto;
    height: auto;

}

.navigatie ul {
    list-style-type: none;
    display: flex;
    padding: 20px;
}

.navigatie ul li {
    margin-left: 20px;
}

.navigatie ul li a {
    color: white;
    text-decoration: none;
}